@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wdth,wght@0,75,100..900;1,75,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@font-face {
    font-family: SegmentFont16;
    src: url(../../fonts/16Segments-Background.woff);
}
body{background-color: #999;}
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #333355;
}
h1:hover{
    color: #444466;
}
h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #434370;
}
h3{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #434370;
}
h4{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #434370;
}
hr{
    color:#252;
}
p{
    color:#000;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 75;
}

a{
    color: #0098fc;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a:hover{
    color: #0067bc;
}
a:active{
    color: #0067bc;
}
a:visited{
    color: #0035bc;
}

ul{
    list-style-type: square;
}
li{
    color:#000;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 75;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 4px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #888888;
}
tr:nth-child(odd) {
    background-color: #dddddd;
}
th{
    background-color: #a6a6a6;
}
img{
    height:200px;
    border-radius: 5px;
}

.code{
    background-color: #111;
    color: #00ba00;
    font-family: "Prata", serif;
    font-weight: 800;
    font-style: normal;
    border-radius: 5px;
    width: 90%;

}
.LeftLine{
    border-style: none none none solid;
    border-left-width: 8px;
    border-left-color: #00bcbc;
    padding-left: 10px;

}
.SubLeftLine{
    border-style: none none none solid;
    border-left-width: 2px;
    border-left-color:#00ba00;
    padding-left: 3px;

}

#Content{
    position: relative;
}

button{
    border-radius: 0px;
    border: 3px outset;

    background-color: #335;
    color:#fff;
    font-weight: bold;
}
button:hover{
    border-radius: 0px;
    border: 3px inset;

    background-color: #2a2a4a;
}

.date{
    color:#fff;
    background-color: #000;
    font-weight: bold;
    font-family: SegmentFont16;
    filter: hue-rotate(240deg) brightness(170%);
    padding-top: 8px;padding-right: 8px;padding-bottom: 8px;padding-left: 8px;
}
.date:hover{
    filter: hue-rotate(240deg) brightness(200%);
}

.header{
    margin-bottom: 0px;
}