body{
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #223;
    height:100%;

    background-image: url("bgs/bg.gif");
}
html{
    overflow-x: hidden;
    overflow-y: hidden;
    height:90%;
}

#headPopup{

    position: relative;
    top:0;
    left:0;

    width:128px;
    height:600px;
    background-color: #335;

    /*border-radius: 5px 30px 30px 5px;*/
}

.headPopupBtn{

    display:block;
    width:128px;
    height:32px;
    border:0px;

    background:none;

    background-image: url("icons/sitenavn.gif");
    background-repeat: no-repeat;
    background-size: cover;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;

}
.headPopupBtn:hover{
    background-image: url("icons/sitenav.gif");
    background-repeat: no-repeat;
    background-size: cover;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#ButtonAboutMe{background-position: 0 -32px;}
#ButtonMyProjects{background-position: 0 -64px;}
#ButtonMyArticles{background-position: 0 -96px;}
#ButtonJsGames{background-position: 0 -128px;}
#ButtonLinks{background-position: 0 -160px;}
#ButtonLinux{background-position: 0 -192px;}
#ButtonShoutbox{background-position: 0 -224px;}

#ButtonShoutbox{
    background-image: url("icons/sitenav.gif");
    background-repeat: no-repeat;
    background-size: cover;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#headPopupOpenClose{
    position:absolute;
    width:30px;
    height:30px;
    color: #ccb;
    bottom: 8px;
    right:8px;
    background-color: #0005;
    border: #0000;
    border-radius: 1000px;
}
#headPopupOpenClose:hover{
    width:35px;
    height:35px;
    bottom: 5.5px;
    right:5.5px;
    transition: 0.25s;
}

#content{
    border: none;
    position: relative;
    top:0;
    right:0;
    overflow-y: auto;

    width:calc(800px - 128px);
    height:600px;
    background-color: #777;

}

#ButtonBack{
    position: absolute;
    top:12px;
    right:calc(( 100% - 800px) / 2 + 4px);
    border: none;

    width:128px;
    height:32px;

    background-image: url("icons/backa.gif");
    background-repeat: no-repeat;
    background-size: cover;

    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#ButtonBack:disabled{
    background-image: url("icons/backd.gif");
    background-repeat: no-repeat;
    background-size: cover;
}


#fullscreenBlur{
    pointer-events: none;
    opacity: 0;
    transition: 1.5s;

    position: absolute;
    left:0px;
    top:0px;

    width: 100vw;
    height: 100vh;

    /* From https://css.glass */
    background: rgba(83, 87, 118, 0.36);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.1px);
    -webkit-backdrop-filter: blur(6.1px);
    border: 1px solid rgba(83, 87, 118, 0.4);
}
#InfoLinks{

    position: absolute;
    left: 50%;
    top: 150%;
    /*transition: 1s;*/

    width: clamp(200px, 40vmin, 600px);
    height: clamp(200px, 40vmin, 600px);

    transform: translate(-50%, -50%);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    background-image: url("bgs/bg2.gif");
}

.Link{
    width:50px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-color: #000;
}

#ButtonLinkGit{
    background-image: url("img/LinkGithub.png");
    background-repeat: no-repeat;
    background-size: 50px 50px;
}
#InfoLinksCenter{
    position: relative;
    left: 20%;
    top: 20%;

    width:60%;
    height:60%;
}

#ButtonLinksClose{
    position: relative;
    left: calc(50% - 64px);
    top: 30%;

    width:128px;
    height:32px;

    transition: 0.5s;

    background-image: url("icons/close.gif");
    border: none;
}

#ButtonShare{
    position: absolute;
    top:calc(604px - 32px);
    right:calc(( 100% - 800px) / 2 + 4px);
    border:0;
    background-color: #14a2dd;
    color:#000;
    transition: 0.25s;

    width:128px;
    height:32px;

    background-image: url("icons/sharebtna.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#ButtonShare:hover{
    background-image: url("icons/sharebtn.gif");
}

#SharedPopup{
    /*display:none;*/
    position: absolute;

    text-align: center;
    width: 100%;
    height: 20px;
    background-color: #ff05;
    top: 2px;
    border-radius: 2px;
    transition: 0.25s;
}

#SharedPopupClose{
    background-color: #0000;
    height: 20px;
    width: 20px;
}
/*
#SharedPopup:hover{
    position: absolute;

    text-align: center;
    width: 100%;
    height: 20px;
    background-color: #ff02;
    color:#0002;
    bottom: 2px;
    border-radius: 2px;
}*/


#main{
    margin: auto;
    align-items: center;
    width:800px;
    height:600px;
    display: flex;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#NoAi{
    background-image: url("icons/noAi.png");
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    bottom: 4px;
    right:4px;
    width:128px;
    height:128px;
}